input, textarea {
    margin:2%;
    border-bottom:1px inside #1c6c9e;
    border-radius:1%;
    box-shadow: 1px 1px 4px white;
}

textarea {
    padding:7% 3.8%;
    box-shadow: 1px 1px 17px white;
}

input[type=text],input[type=email]{
    padding-left:5%;
}

input[type=submit] {
    padding:0 3%;
    margin-top:1%;
}

div.container#new {
    margin:auto;
    border-radius: 2%;
    background-image: url("antonio-catalano.github.io/img/blue.jpg");
    padding: 5%;
}


input[type=submit]:hover {
    background-color: white;
    cursor: pointer;

}

input[value=Send] {

    font-weight:bold;
    color: #595959;
}
