/* body {
    background-color: #f1f1f1;
}

h1 {
    color:#f1f1f1;
}*/

p#custom {
    font-weight:bold;
    text-shadow: 4px 4px #343a40;
}


.post-preview h2,h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a#sources{
    text-decoration:underline;
}

pre, code {
    font-family: monospace, monospace;
    color: black;
}

pre {
    overflow: auto;
}

pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

div.output {
    border: 2px inset lightgrey;
    padding:2%;
    margin-bottom:2%;
}

figcaption { font-weight:bold;}
