/* body {
    background-color: #f1f1f1;
}

h1 {
    color:#f1f1f1;
}*/

p#custom {
    font-weight:bold;
    text-shadow: 4px 4px #343a40;
}


.post-preview h2,h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a#sources{
    text-decoration:underline;
}

pre, code {
    font-family: monospace, monospace;
    color: black;
}

pre {
    overflow: auto;
}

pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

div.output {
    border: 2px inset lightgrey;
    padding:2%;
    margin-bottom:2%;
}

figcaption { font-weight:bold;}


@media screen and (min-width : 920px) {
    #imgText {
        width:80%;
    }
}

@media screen and (max-width : 920px) {
    #imgText {
        width:100%;
    }
}

#imgCode-1 {
    margin:3% 5%;
    width:75%;
}

#imgCode-1-output {
    margin:3% 5%;
    width:60%;
    height:70%;
}

#imgPaesaggio {
    width:70%;
    height:50%;
    border-radius : 50%;
}

@media screen and (max-width : 920px) {
    #imgPaesaggio {
        width:100%;
        height:80%;
    }
}

/* @media screen and (max-width : 600px) {
    #imgCode-1-output {width:100%}
} */

  a.archive {
      text-decoration: underline;
  }
