#Dynamic {
    margin:3% 8%;
    width:75%;
}

#Dynamic-output {
    margin:3% 8%;
    width:60%;
}

#Dynamic-output-larger {
    margin:3% 8%;
    width:40%;
}


/* @media screen and (max-width : 600px) {
    #Dynamic-output-larger {width:100%}
}

@media screen and (max-width : 600px) {
    #Dynamic {width:100%}
}

@media screen and (max-width : 600px) {
    #Dynamic-ouput {width:100%}
} */
